<div class="jumbotron jumbotron-fluid bg-dark text-center text-white">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Use the navbar to join in the other pages!</p>
  </div>
</div>